/* ------------------------------------------------ */

@import "global/normalize.scss";

/* ------------------------------------------------ */

@import "global/variables.scss";

@import "global/mixin.scss";

@import "global/scaffolding.scss";

/* ------------------------------------------------ */

@import "block/header.scss";
@import "block/footer.scss";
@import "block/btn.scss";
@import "block/menu.scss";
@import "block/logo.scss";

/* ------------------------------------------------ */

@import "block/promo.scss";
@import "block/howitwork.scss";
@import "block/composition.scss";
@import "block/quote.scss";
@import "block/question.scss";
@import "block/social.scss";
@import "block/order.scss";
@import "block/slider.scss";
@import "block/sidebar.scss";
@import "block/product.scss";
@import "block/page-faq.scss";
@import "block/checkout.scss";
@import "block/page-sertificate.scss";
@import "block/page-contacts.scss";
@import "block/page-thanks.scss";
@import "block/features.scss";
@import "block/functions.scss";
@import "block/cart.scss";
