    <footer class="footer">
      <div class="footer__wrapper">
        <div class="footer__block subscription__form_cont">
          <div class="subscription__form_cont_wrap">
            <p class="footer__title">Подпишись на обновления</p>
            <form action="#" class="subscription__form">
              <input type="text" placeholder="Введите ваш е-mail адрес">
              <button type="submit">Подписаться</button>
            </form>
            <p class="footer__descr">Подпишись на наши новости чтобы быть всегда <br> в курсе наших распродаж и тусовок!
            </p>
          </div>
          <div class='subscription__thanks' style="display: none">Спасибо за подписку!</div>
        </div>
        <div class="footer__block">
          <ul class="footer__list">
            <li class="footer__list_info">Инфо</li>
            <li class="footer__item"><a href="page-faq.html">FAQ</a></li>
            <li class="footer__item"><a href="#jsSidebarItem-4">Состав</a></li>
            <li class="footer__item"><a href="#jsSidebarItem-6">Карточка товара</a></li>
            <li class="footer__item"><a href="page-faq-delivery.html">Доставка</a></li>
            <li class="footer__item"><a href="page-faq-back.html">Возврат</a></li>
            <li class="footer__item"><a href="page-sertificate.html">Сертификаты</a></li>
          </ul>
        </div>
        <div class="social">
          <p class="footer__title">Наши соц. сети</p>
          <div class="social__items">
            <a href="https://www.facebook.com/mystarvit" class="social__item">
              <svg>
                <use xlink:href="img/sprite.svg#icons--facebook"></use>
              </svg>
            </a>
            <a href="https://twitter.com/mystarvit" class="social__item">
              <svg>
                <use xlink:href="img/sprite.svg#icons--twitter"></use>
              </svg>
            </a>
            <a href="https://instagram.com/mystarvit/" class="social__item">
              <svg>
                <use xlink:href="img/sprite.svg#icons--instagram"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="footer__copyright">
          <p class="footer__copyright_link">Есть вопросы? <a href="mailto:hello@mystarvit.com">hello@mystarvit.com</a></p>
          <div class="footer__copyright_wrap">
            <p>Copyright © 2019 Starvit</p>
            <p>ООО "Старвит"</p>
            <p>Юридический адрес: 129272, Москва, ул. Трифоновская д.57А, этаж 8, оф. 8-12</p>
            <p>ОГРН 1197746467500</p>
            <p>ИНН/КПП 9702003168/770201001</p>
            <p>р/с 40702810800000014705 в АО Газпромбанк</p>
            <p>БИК 044525823</p>
            <p>к/с 30101810200000000823</p>
            <p>КПП банка 772801001</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="popups popup">
      <div class="popup__oneclick js-popup-oneclick">
        <div class="popup__oneclick_close"></div>
        <img src="img/popup-1-click.png" alt="">
        <div class="popup__oneclick_content">
          <p class="popup__oneclick_title">Введите телефон для быстрого оформления заказа</p>
          <form action="#">
            <input type="tel" placeholder="Ваш телефон" required>
            <button type="submit">Связаться со мной</button>
          </form>
        </div>
      </div>
    </div>

    <div class="overlay">
      <!--<button class="overlay__close"></button>-->
      <div class="overlay__content">

      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/app.js"></script>
    </body>

    </html>
