    <footer class="footer">
      <div class="footer__wrapper">
        <div class="footer__block subscription__form_cont">
          <div class="subscription__form_cont_wrap">
            <p class="footer__title">Подпишись на обновления</p>
            <form action="#" class="subscription__form">
              <input type="text" placeholder="Введите ваш е-mail адрес">
              <button type="submit">Подписаться</button>
            </form>
            <p class="footer__descr">Подпишись на наши новости чтобы быть всегда <br> в курсе наших распродаж и тусовок!
            </p>
          </div>
          <div class='subscription__thanks' style="display: none">Спасибо за подписку!</div>
        </div>
        <div class="footer__block">
          <ul class="footer__list">
            <li class="footer__list_info">Инфо</li>
            <li class="footer__item"><a href="page-faq.html">FAQ</a></li>
            <li class="footer__item"><a href="#jsSidebarItem-4">Состав</a></li>
            <li class="footer__item"><a href="#jsSidebarItem-6">Карточка товара</a></li>
            <li class="footer__item"><a href="page-faq-delivery.html">Доставка</a></li>
            <li class="footer__item"><a href="page-faq-back.html">Возврат</a></li>
            <li class="footer__item"><a href="page-sertificate.html">Сертификаты</a></li>
          </ul>
        </div>
        <div class="social">
          <p class="footer__title">Наши соц. сети</p>
          <div class="social__items">
            <a href="https://www.facebook.com/mystarvit" class="social__item">
              <svg>
                <use xlink:href="img/sprite.svg#icons--facebook"></use>
              </svg>
            </a>
            <a href="https://twitter.com/mystarvit" class="social__item">
              <svg>
                <use xlink:href="img/sprite.svg#icons--twitter"></use>
              </svg>
            </a>
            <a href="https://instagram.com/mystarvit/" class="social__item">
              <svg>
                <use xlink:href="img/sprite.svg#icons--instagram"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="footer__copyright">
          <p class="footer__copyright_link">Есть вопросы? <a href="mailto:hello@mystarvit.com">hello@mystarvit.com</a></p>
          <div class="footer__copyright_wrap">
            <p>Copyright © 2019 Starvit</p>
            <p>ООО "Старвит"</p>
            <p>Юридический адрес: 129272, Москва, ул. Трифоновская д.57А, этаж 8, оф. 8-12</p>
            <p>ОГРН 1197746467500</p>
            <p>ИНН/КПП 9702003168/770201001</p>
            <p>р/с 40702810800000014705 в АО Газпромбанк</p>
            <p>БИК 044525823</p>
            <p>к/с 30101810200000000823</p>
            <p>КПП банка 772801001</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="popups popup">

      <div class="popup__oneclick js-popup-oneclick">
        <div class="popup__oneclick_close"></div>
        <img src="img/popup-1-click.png" alt="">
        <div class="popup__oneclick_content">
          <p class="popup__oneclick_title">Введите телефон для быстрого оформления заказа</p>
          <form action="#">
            <input type="tel" placeholder="Ваш телефон" required>
            <button type="submit">Связаться со мной</button>
          </form>
        </div>
      </div>

      <div class="page-sertificate__slider_item_popup js-certificate-popup--1">
        <div class="page-sertificate__slider_item_popup_wrap">
          <div class="page-sertificate__slider_item_popup_head">
            <img src="img/certificate-popup-logo.png" alt="">
            <a href="https://www.ncbi.nlm.nih.gov/pubmed/29021708"> <span>Источник:</span> https://www.ncbi.nlm.nih.gov/pubmed/29021708</a>
            <div class="page-sertificate__slider_item_popup_close js-certificate-popup-close"></div>
          </div>
          <div class="page-sertificate__slider_item_popup_content">
            <div class="page-sertificate__slider_item_popup_sidebar">
              <img src="img/certificate-popup-quote.png" alt="">
              <h5 class="page-sertificate__slider_item_popup_title  page-sertificate__slider_item_popup_title--mobile">Влияние женьшеня на депрессию, связанную со стрессом, тревогу и гипоталамо-
                гипофизарно-надпочечниковую ось.</h5>
              <div class="page-sertificate__slider_item_popup_sidebar_row">
                <p class="page-sertificate__slider_item_popup_sidebar_title">Авторы:
                </p>
                <div class="page-sertificate__slider_item_popup_sidebar_link">
                  <a href="#">Lee S, </a>
                  <a href="#">Rhee DK</a>
                </div>
              </div>
              <p class="page-sertificate__slider_item_popup_sidebar_title  page-sertificate__slider_item_popup_sidebar_title--gray">Фармацевтическая школа, <br> Университет Сунгкьюнкван, 2066 г. <br> Сёбу-ро, Джанган-гу, Су-Вон, 16419, Республика Корея.</p>
            </div>
            <div class="page-sertificate__slider_item_popup_text">
              <h5 class="page-sertificate__slider_item_popup_title">Влияние женьшеня на депрессию, связанную со стрессом, тревогу и гипоталамо-
                гипофизарно-надпочечниковую ось.</h5>
              <div class="page-sertificate__slider_item_popup_inner">
                <div class="page-sertificate__slider_item_popup_text_wrap">
                  <p class="page-sertificate__slider_item_popup_descr">Женьшень эффективно регулирует иммунный ответ и гормональные изменения, вызванные стрессом, тем самым поддерживая гомеостаз. Помимо подавления возникновения психологических заболеваний, таких как беспокойство и депрессия, женьшень также предотвращает связанные со стрессом физиологические заболевания.</p>
                  <p class="page-sertificate__slider_item_popup_descr">Недавние исследования показали, что женьшень участвует в регулировании оси гипоталамус-гипофиз-надпочечник и контроле гормонов, что оказывает благотворное влияние на сердце и мозг, а также в случаях заболеваний костей, а также облегчает эректильную дисфункцию.</p>
                  <p class="page-sertificate__slider_item_popup_descr">Недавние исследования выявили потенциальное использование женьшеня в профилактике и лечении хронических воспалительных заболеваний, таких как диабет, ревматоидный артрит и аллергическая астма. Тем не менее, механизм, лежащий в основе воздействия женьшеня на эти заболевания, связанные со стрессом, не был полностью установлен.</p>
                  <p class="page-sertificate__slider_item_popup_descr">В этом обзоре мы сосредоточимся на путях заболевания, вызванных стрессом, чтобы определить, как женьшень действует для улучшения здоровья. Центральным моментом нашего обсуждения является то, как этот эффективный и стабильный терапевтический агент снимает тревогу и депрессию, вызванную стрессом, и уменьшает воспалительные заболевания.</p>
                </div>
                <img src="img/certificate-popup-img-1.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-sertificate__slider_item_popup js-certificate-popup--2">
        <div class="page-sertificate__slider_item_popup_wrap">
          <div class="page-sertificate__slider_item_popup_head">
            <img src="img/certificate-popup-logo.png" alt="">
            <a href="https://www.ncbi.nlm.nih.gov/pubmed/29021708"> <span>Источник:</span> https://www.ncbi.nlm.nih.gov/pubmed/18681988</a>
            <div class="page-sertificate__slider_item_popup_close js-certificate-popup-close"></div>
          </div>
          <div class="page-sertificate__slider_item_popup_content">
            <div class="page-sertificate__slider_item_popup_sidebar">
              <img src="img/certificate-popup-quote.png" alt="">
              <h5 class="page-sertificate__slider_item_popup_title  page-sertificate__slider_item_popup_title--mobile">Влияние женьшеня на депрессию, связанную со стрессом, тревогу и гипоталамо-
                гипофизарно-надпочечниковую ось.</h5>
              <div class="page-sertificate__slider_item_popup_sidebar_row">
                <p class="page-sertificate__slider_item_popup_sidebar_title">Авторы:
                </p>
                <div class="page-sertificate__slider_item_popup_sidebar_link">
                  <a href="#">Оуэн Г. Н., </a> <br>
                  <a href="#">Парнелл Х., </a> <br>
                  <a href="#">Де Брюин Э. А., </a> <br>
                  <a href="#">Райкрофт Дж . А.</a>
                </div>
              </div>
              <p class="page-sertificate__slider_item_popup_sidebar_title  page-sertificate__slider_item_popup_sidebar_title--gray">
                Unilever Research and Development, Колворт Хаус, Шарнбрук, Бедфорд, Великобритания</p>
            </div>
            <div class="page-sertificate__slider_item_popup_text">
              <h5 class="page-sertificate__slider_item_popup_title">Сочетанное воздействие L-теанина и кофеина на когнитивные функции и настроение.</h5>
              <div class="page-sertificate__slider_item_popup_inner">
                <div class="page-sertificate__slider_item_popup_text_wrap">
                  <p class="page-sertificate__slider_item_popup_descr">Цель этого исследования состояла в том, чтобы сравнить 50 мг кофеина с и без 100 мг L-теанина на когнитивные способности и настроение у здоровых добровольцев. Влияние этих процедур на распознавание слов, быструю обработку визуальной информации, критический порог слияния мерцания, переключение внимания и настроение сравнивалось с плацебо у 27 участников.</p>
                  <p class="page-sertificate__slider_item_popup_descr">Эффективность измеряли в начале исследования, а затем через 60 и 90 минут после каждой процедуры (с разделением на 7 дней вымывания). Кофеин улучшил субъективную бдительность через 60 минут и точность при переключении внимания через 90 минут.</p>
                  <p class="page-sertificate__slider_item_popup_descr">Комбинация L-теанина и кофеина улучшила как скорость, так и точность выполнения задачи переключения внимания за 60 минут и снизила восприимчивость к отвлекающей информации в задаче памяти как через 60, так и через 90 минут.</p>
                </div>
                <img src="img/certificate-popup-img-2.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="overlay">
      <!--<button class="overlay__close"></button>-->
      <div class="overlay__content">

      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/app.js"></script>
    </body>

    </html>
