@font-face {
  font-family: "Lato";
  src:
    local("Lato"),
    url("../fonts/Lato.woff") format("woff"),
    url("../fonts/Lato.ttf") format("ttf"),
    url("../fonts/Lato.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src:
    local("Lato"),
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.ttf") format("ttf"),
    url("../fonts/PTSans.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
