html {
  box-sizing: border-box;
  min-width: 375px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 0;
  height: 0;
  font-size: 0px;
  padding: 0;
  border: 0;
  overflow: hidden;
}
body {
  font-family: $font-main;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  &--open {
    display: block;
  }
}
