$color-main: #ee2331;
$color-secondary: #272f39;
$color-nav: #535456;

/* ------------------------------------------------ */

$font-main: "Helvetica", "Open Sans", sans-serif;
$font-secondary: "Venera", "Open Sans", sans-serif;

/* ------------------------------------------------ */

$mobile-width: "min-width: 576px";
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 992px";
$big-desktop-width: "min-width: 1200px";

/* ------------------------------------------------ */

$retina: "min-resolution: 144dpi";
$retina2: "min-resolution: 1.5dppx";
