.about {
  margin-top: 50px;
  &__wrapper {
    @include container;
    background-color: #f9f6ff;
    width: 345px;
    padding-left: 0;
    padding-right: 0;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 345px;
    height: 237px;
  }
  &__descr {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.62;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    position: relative;
    &::before {
      content: '';
      width: 84px;
      height: 84px;
      position: absolute;
      background-image: url(../img/about2.png);
      top: -70px;
      right: 0;
    }
  }
  &__link {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #5727cf;
    text-decoration: none;
    position: relative;
    padding-left: 90px;
    margin-bottom: 40px;
    margin-top: 50px;
    display: block;
    &::before {
      content: '';
      width: 48px;
      height: 48px;
      position: absolute;
      border: 3px solid #5727cf;
      border-radius: 50%;
      left: 20px;
      top: -17px;
    }
    &::after {
      content: '';
      position: absolute;
      border: 10px solid #5727cf;
      border-right: 8px solid transparent;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      left: 41px;
    }
  }
  &__title {
    display: none;
  }
  &__suptitle {
    display: none;
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {

}
@media ($desktop-width) {

}
@media ($big-desktop-width) {
  .about {
    background-color: #f9f6ff;
    &__wrapper {
      display: flex;
      justify-content: flex-start;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &__wrap {
      margin-left: 70px;
    }
    img {
      height: 212px;
      width: 311px;
      margin-right: 0;
      margin-left: 20px;
    }
    &__title {
      display: block;
      font-size: 25px;
      font-weight: bold;
      line-height: 1.2;
      margin: 0;
    }
    &__suptitle {
      display: block;
      font-size: 20px;
      margin: 0;
      margin-bottom: 5px;
    }
    &__descr {
      padding-left: 0;
      width: 650px;
      margin-top: 15px;
      margin-bottom: 15px;
      br {
        display: none;
      }
      &::before {
        left: -115px;
        top: 55px;
      }
    }
    &__link {
      padding-left: 70px;
      margin-top: 47px;
      margin-bottom: 0;
      &::before {
        left: 0;
      }
      &::after {
        left: 21px;
      }
    }
  }
}
