.cart {
  background-color: #f3f3f3;
  padding-top: 20px;
  padding-bottom: 50px;

  &__wrapper {
    @include container;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.07;
    letter-spacing: 0.44px;
  }

  &__descr {
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.73;
    letter-spacing: normal;
    color: #858585;
    margin-bottom: 0;
    padding-left: 20px;
    position: relative;
    &::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      background-image: url('../img/icons/cart-icon-info-red.svg');
      left: 0;
      top: 8px;
    }
  }

  &__content {
    width: 100%;
    max-width: 425px;
    margin-bottom: 20px;

    &--empty {
      max-width: 1080px;
    }
  }

  &__block {
    background-color: #fff;
    padding: 25px 20px;
    padding-bottom: 15px;

    &--add {
      margin-top: 20px;

      .cart__descr {
        &::before {
          background-image: url('../img/icons/cart-icon-info-gray.svg');
        }
      }
    }
  }

  &__item {
    border-bottom: 2px solid #eeeeee;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

    &:last-of-type {
      border: 0;
    }

    &_title {
      font-size: 16px;
      font-weight: bold;
      line-height: 0.94;
      letter-spacing: 1.15px;
      margin-top: 0;
      margin-bottom: 5px;
      text-transform: uppercase;
      color: #000;
      display: block;
      text-decoration: none;
    }

    &_descr {
      font-size: 13px;
      font-weight: 500;
      line-height: 1.08;
      letter-spacing: 0.93px;
      color: #858585;
      margin-top: 0;
      margin-bottom: 20px;
    }

    &_price {
      font-size: 17px;
      font-weight: bold;
      line-height: 0.88;
      letter-spacing: 1.22px;
      margin-top: 0;
      margin-bottom: 0;
    }

    &_quantity {
      margin-left: auto;
      margin-top: -25px;
      margin-right: -8px;

      &_input {
        font-size: 30px;
        font-weight: bold;
        border: 0;
        background-color: transparent;
        text-align: center;
        color: $color-main;
        width: 35px;
        line-height: 35px;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button {
          appearance: none;
        }

        &::-webkit-inner-spin-button {
          appearance: none;
        }


      }

      &_btn {
        border: 0;
        font-size: 30px;
        font-weight: 500;
        background-color: transparent;
        cursor: pointer;
      }
    }

    &_remove {
      width: 13px;
      height: 13px;
      border: 0;
      background-image: url('../img/icons/close.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      position: absolute;
      top: 20px;
      right: 0;
      cursor: pointer;
      opacity: 0.3;
    }

    &_img {
      margin-bottom: 30px;

      img {
        width: 160px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &_add {
      &-btn {
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: 0.79px;
        text-align: center;
        border: 0;
        background-color: #e7e7e7;
        padding: 20px 40px;
        text-transform: uppercase;
        transition-duration: 0.3s;
        cursor: pointer;
        display: block;
        margin-top: 30px;

        &:hover {
          background-color: $color-main;
          color: #fff;
        }

        &--left {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  &__terms {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: normal;
    color: #9b9b9b;
    padding-left: 20px;
    padding-right: 25px;

    a {
      color: #9b9b9b;
      text-decoration: none;
    }
  }

  &__info {
    &_pay {
      &_row {
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
      }

      &_btn {
        border: 0;
        background-color: #000;
        color: #fff;
        min-height: 50px;
        width: 100%;
        cursor: pointer;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.18;
        letter-spacing: 0.79px;
        transition-duration: 0.3s;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          opacity: 0.8;
        }

        &:first-child {
          background-color: $color-main;
        }
      }
    }
  }

  &__emty {
    margin-top: 80px;
    margin-bottom: 100px;

    svg {
      width: 28px;
      height: 28px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    &_title {
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 25px;
    }

    &_descr {
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: 1px;
      text-align: center;

      a {
        color: $color-main;
        text-decoration: none;
      }
    }
  }

  .checkout__title_wrap {
    background-color: #fff;
    padding: 22px;
    margin-bottom: 2px;
  }

  .checkout__title {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.15;
    margin: 0;
  }
}

@media ($mobile-width) {}

@media ($tablet-width) {
  .cart {
    &__wrapper {
      justify-content: space-between;
    }

    &__inner {
      width: 100%;
      justify-content: space-between;
    }

    &__content {
      width: 385px;
      margin-bottom: 30px;

      &--add {
        width: 100%;
        max-width: none;
      }

      &--empty {
        .cart__item {
          padding-bottom: 50px;
        }
      }
    }

    &__block {
      &--add {
        margin-top: 0;

        .cart__item {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          &_img {
            margin-left: 30px;
            margin-bottom: 0;

            img {
              width: auto;
            }
          }

          &_content {
            margin-left: -50px;
          }

          &_add {
            &-btn {
              &--left {
                margin-left: -100px;
                position: relative;
                bottom: -40px;
                left: -10px;
              }
            }
          }
        }
      }
    }

    &__item {
      &_quantity {
        margin-right: 50px;
      }
    }

    &__emty {
      margin-left: auto;
      margin-right: auto;
    }

    .checkout__info {
      width: 310px;
    }
  }
}

@media ($desktop-width) {
  .cart {
    &__wrapper {
      justify-content: space-between;
    }

    &__inner {
      width: 100%;
      justify-content: space-between;
    }

    &__content {
      width: 580px;
      margin-bottom: 0px;
      max-width: none;

      &--empty {
        width: 100%;

        .cart__item_add-btn--left {
          position: static;
          margin: 0;
        }
      }
    }

    &__items {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__item {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &_img {
        margin-left: 20px;
        margin-right: 30px;
        margin-bottom: 0;

        img {
          width: 160px;
        }
      }
      &_quantity {
        margin-left: -20px;
        margin-right: 10px;
        margin-bottom: -5px;
        margin-top: auto;
      }
    }

    &__block {
      &--add {
        .cart__item {
          &_img {
            margin-left: 20px;
            margin-right: 45px;

            img {
              width: 160px;
            }
          }

          &_add {
            &-btn {
              padding: 17px;

              &--left {
                left: 0;
                bottom: -20px;
              }
            }
          }
        }
      }
    }

    &__terms {
      padding: 0;
    }

    .checkout__info {
      width: 345px;
    }
  }
}

@media ($m-desktop-width) {
  .cart {

    &--empty {
      .cart__wrapper {
        flex-direction: column;
      }

      .cart__item_content {
        margin-right: auto;
        margin-left: 30px;
      }
    }

    &__content {
      width: 724px;
      margin-bottom: 0px;
      max-width: none;

      &--empty {
        width: 100%;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .checkout__info {
      width: 380px;
    }

    &__item {
      &_img {
        margin-right: 0;

        img {
          width: 199px;
        }
      }
    }

    &__block {
      &--add {
        margin-top: 50px;
        .cart__item {
          &_img {
            margin-left: 20px;
            margin-right: 25px;

            img {
              width: 199px;
            }
          }
        }
      }
    }
  }
}

@media ($big-desktop-width) {
  .cart {
    padding-top: 80px;
    padding-bottom: 80px;
    &__inner {
      width: 100%;
      justify-content: center;
    }

    &__content {
      width: 724px;

      &--add {
        margin-left: 65px;
      }

      &--empty {
        width: 100%;
        margin-left: auto;

        .cart__item_add-btn--left {
          margin-right: 20px;
        }
      }
    }

    &__block {
      &--add {
        margin-top: 40px;
        .cart__item {
          &_img {
            margin-right: 60px;
          }
          &_add {
            &-btn {
              padding: 20px 40px;

              &--left {
                left: 0px;
                bottom: -40px;
              }
            }
          }
        }
      }
    }

    &__item {
      &_quantity {
        margin-top: auto;
        margin-bottom: 5px;
      }
    }

    .checkout__info {
      width: 425px;
    }
  }
}
