.checkout {
  background-color: #e1e0df;
  margin-top: 76px;

  &__wrapper {
    @include container;
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    width: 100%;
    max-width: 725px;
    margin-bottom: 50px;

    .shop_table {
      display: none;
    }
  }

  &__info {
    width: 100%;
    max-width: 425px;

    #payment {
      display: none;
    }

    &_item {
      background-color: #fff;
      padding: 22px;
      margin-bottom: 10px;
    }

    &_row {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      font-weight: bold;
      line-height: 1.15;
      text-transform: uppercase;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 13px;
        font-weight: bold;
        line-height: 1.15;
        text-transform: uppercase;
      }

      &:last-child {
        p {
          margin-bottom: 0;
        }
      }

      .woocommerce-shipping-methods {
        @include reset-ul;

        label {
          font-size: 0;

          span {
            font-size: 13px;
          }
        }
      }

      .woocommerce-remove-coupon {
        display: none;
      }
    }

    &_cart {
      .checkout__info_row {
        &:last-child {
          border-top: 1px solid #eeeeee;
          padding-top: 16px;
        }
      }
    }

    &_promo {
      position: relative;

      input {
        font-size: 16px;
        font-size: 13px;
        font-weight: bold;
        line-height: 1.15;
        text-transform: uppercase;
        color: #000;
        padding: 10px 10px;
        background-color: transparent;
        border: 1px solid #999;

        &::placeholder {
          color: #000;
        }
      }

      button {
        font-size: 0;
        width: 13px;
        height: 20px;
        fill: $color-main;
        border: 0;
        background-color: transparent;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -10px;
        cursor: pointer;

        svg {
          width: 13px;
          height: 20px;
        }
      }
    }

    &_myorder {
      background-color: #fff;
      padding: 26px 22px;
      margin-bottom: 2px;

      p {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.07;
        letter-spacing: 0.44px;
        text-transform: uppercase;
      }
    }

    &_order {
      .checkout__info_row {
        margin-bottom: 0;

        &:first-child {
          p {
            margin-top: 0;
            margin-bottom: 7px;
          }
        }
      }

      p.checkout__info_order_title {
        margin-bottom: 5px;
        margin-top: 20px;

        span {
          margin-left: 10px;
          color: $color-main;
        }
      }

      &_descr {
        font-size: 11px;
        line-height: 1.27;
        margin: 0;
      }

      p.checkout__info_order_change {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.15;
        text-transform: none !important;
        color: #c8c6c6;
        margin: 0;
        margin-bottom: 5px;
        margin-top: auto;
        cursor: pointer;
      }

      &_exit {
        opacity: 0.25;
        font-family: Montserrat;
        font-size: 11px;
        line-height: 1.27;
        display: block;
        color: #000;
        text-decoration: none;
      }
    }
  }

  &__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 0.94;
    letter-spacing: 0.5px;

    &_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &_back {
      font-size: 13px;
      font-weight: bold;
      line-height: 1.15;
      color: #c8c6c6;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &__form {
    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_title {
        margin: 0;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.15;
        text-transform: uppercase;

        span {
          display: block;
          font-size: 10px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.3;
          letter-spacing: normal;
          color: #858585;
          text-transform: none;
          margin-top: 5px;

          b {
            color: $color-main;
            font-weight: normal;
          }
        }
      }

      &_link {
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.15;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-main;
        display: none;
        position: relative;

        &--icon-1 {
          padding-right: 25px;

          &::before {
            content: '';
            width: 15px;
            height: 16px;
            position: absolute;
            background-image: url('../img/icon-checkout-1.png');
            right: 0;
            top: -2px;
          }
        }

        &--icon-2 {
          padding-right: 25px;

          &::before {
            content: '';
            width: 22px;
            height: 22px;
            position: absolute;
            background-image: url('../img/icon-checkout-2.png');
            right: -5px;
            top: -4px;
          }
        }

        &--open {
          display: block;
        }
      }

      &_user {
        font-size: 13px;
        line-height: 1.15;
        letter-spacing: 0.93px;
        margin-left: 15px;
        margin-right: auto;
      }
    }

    &_descr {
      font-size: 9px;
      line-height: 1.67;
      letter-spacing: 0.64px;
      color: #9b9b9b;
      margin-top: 24px;
      margin-bottom: 16px;

      a {
        text-decoration: none;
        color: $color-main;
        font-weight: bold;
      }
    }

    &_item {
      background-color: #fff;
      padding: 22px;
      margin-bottom: 10px;
      opacity: 0.25;
      min-height: 56px;
      position: relative;

      &-delivery {
        display: none;

        &--open {
          display: block;

          .checkout__form {
            &_item {
              opacity: 1;
              margin-bottom: 30px;

              &::after {
                content: 'ИЛИ';
                position: absolute;
                font-size: 11px;
                font-weight: bold;
                line-height: 1.36;
                letter-spacing: 0.79px;
                color: #9b9b9b;
                left: 20px;
                bottom: -23px;
              }

              &:first-child {
                margin-top: 30px;

                &::before {
                  content: 'Выберите вариант доставки';
                  position: absolute;
                  font-size: 11px;
                  font-weight: bold;
                  line-height: 1.36;
                  letter-spacing: 0.79px;
                  color: #9b9b9b;
                  left: 20px;
                  top: -21px;
                  text-transform: uppercase;
                }
              }

              &:last-child {
                margin-bottom: 10px;

                &::after {
                  display: none;
                }
              }
            }

            &_title_link {
              display: block;
            }

            &_registration_form {
              margin-bottom: -10px;
              margin-top: 20px;

              &_wrap {
                display: none;
              }
            }
          }

        }
      }

      &--delivery-2 {
        .checkout__shipping_item {
          margin-top: 10px;
        }
      }

      &--active {
        opacity: 1;

        &::after {
          content: '';
          width: 4px;
          height: 58px;
          background-color: $color-main;
          position: absolute;
          left: 0;
          top: 0;
        }

        .checkout__form_pay {
          display: block;
        }
      }

      &--done {
        .checkout__form_login {
          display: none;
        }

        .checkout__form_registration {
          display: none;
        }

        .checkout__form_descr {
          display: none;
        }
      }
    }

    &_registration {
      &_form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .form-row {
          width: 48.5%;
          margin: 0;
        }

        label {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          font-size: 10px;
          font-weight: bold;
          line-height: 1.8;
          color: #858585;

          abbr {
            display: none;
          }
        }

        input {
          width: 100%;
          font-size: 13px;
          line-height: 1.38;
          color: #000000;
          min-height: 50px;
          padding: 15px;
          border: 1px solid #e1e0df;
        }
      }

      &_btn {
        width: 48.5%;
        background-color: #000;
        border: 0;
        min-width: 300px;
        height: 51px;
        margin-top: auto;
        font-size: 11px;
        font-weight: 500;
        line-height: 1.36;
        letter-spacing: 1px;
        color: #ffffff;
        cursor: pointer;
        text-transform: uppercase;
        transition-duration: 0.3s;
        margin-top: 20px;
        display: flex;
        text-align: left;
        padding-left: 45px;
        align-items: center;

        &--1 {
          position: relative;

          &::after {
            content: '';
            width: 15px;
            height: 16px;
            position: absolute;
            background-image: url(../img/icon-checkout-1.png);
            left: 15px;
            top: 16px;
          }
        }

        &--2 {
          position: relative;

          &::after {
            content: '';
            width: 22px;
            height: 22px;
            position: absolute;
            background-image: url(../img/icon-checkout-2.png);
            left: 15px;
            top: 16px;
          }
        }

        &--3 {
          position: relative;

          &::after {
            content: '';
            width: 19px;
            height: 17px;
            position: absolute;
            background-image: url(../img/icon-checkout-3.png);
            left: 15px;
            top: 16px;
          }
        }

        &--4 {
          position: relative;

          &::after {
            content: '';
            width: 16px;
            height: 20px;
            position: absolute;
            background-image: url(../img/icon-checkout-4.png);
            left: 15px;
            top: 15px;
          }
        }

        &:hover {
          //background-color: $color-main;
          opacity: 0.8;
        }
      }
    }

    &_login {
      display: none;

      &_form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        label {
          width: 31%;
          display: flex;
          flex-direction: column;
          font-size: 10px;
          font-weight: bold;
          line-height: 1.8;
          color: #858585;
        }

        input {
          width: 100%;
          font-size: 13px;
          line-height: 1.38;
          color: #000000;
          min-height: 50px;
          padding: 15px;
          border: 1px solid #e1e0df;
        }
      }

      &_btn {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 13px;
        font-weight: bold;
        background-color: #000;
        border: 0;
        height: 51px;
        margin-top: auto;
        line-height: 1.15;
        letter-spacing: 0.93px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        text-transform: uppercase;
        transition-duration: 0.3s;

        &:hover {
          background-color: $color-main
        }
      }

      &_social {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 30px;

        a {
          text-decoration: none;
          font-size: 13px;
          font-weight: bold;
          line-height: 1.15;
          letter-spacing: 0.93px;
          color: #485992;
        }
      }
    }

    &_country {
      background-color: #d8d8d8;
      width: 50%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      padding: 25px;
      display: none;

      &-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      p {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.77;
        letter-spacing: 0.93px;
        margin-top: 0;
        margin-bottom: 5px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          color: $color-main;
        }
      }
    }

    &_pay {
      margin-top: 45px;
      display: none;

      &_row {
        padding-left: 30px;
        margin-bottom: 20px;
      }

      &_title {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.38;
      }

      &_descr {
        font-size: 11px;
        line-height: 1.45;
        color: #9b9b9b;
        margin-top: 5px;
      }

      input {
        display: none;

        &:checked~label {
          &::after {
            display: block;
          }
        }
      }

      label {
        position: relative;
        cursor: pointer;

        &::before {
          content: '';
          width: 15px;
          height: 15px;
          position: absolute;
          border: 2px solid #9b9b9b;
          border-radius: 50%;
          left: -30px;
          top: 0;
        }

        &::after {
          content: '';
          width: 7px;
          height: 7px;
          position: absolute;
          left: -26px;
          top: 4px;
          background-color: $color-main;
          border-radius: 50%;
          display: none;
        }
      }
    }

    &_delivery {
      display: none;
    }
  }

  &__delivery {
    &_house {

      &_items {
        display: flex;
        flex-wrap: wrap;
      }

      &_item {
        display: flex;
        width: 50%;
        margin-top: 20px;

        &_content {
          margin-left: 15px;
        }

        &_descr {
          font-size: 13px;
          line-height: 1.15;
          margin: 0;
          text-transform: uppercase;
        }

        input {
          display: none;

          &:checked {
            &~label {
              &::before {
                display: block;
              }
            }
          }
        }

        label {
          width: 18px;
          height: 18px;
          position: relative;
          border: 2px solid #9b9b9b;
          border-radius: 50%;
          cursor: pointer;
          margin-top: 10px;

          &::before {
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            top: 3px;
            left: 3px;
            background-color: #f6492d;
            border-radius: 50%;
            display: none;
          }
        }

        &_control {
          display: flex;
          justify-content: space-between;

          &-btn {
            font-size: 11px;
            font-weight: 600;
            line-height: 1.36;
            color: #e5e5e5;
            margin-bottom: 0;
            cursor: pointer;
          }
        }
      }
    }

    &_select {
      background-color: #fff;
      padding: 20px;
      display: none;
      margin-bottom: 10px;
      margin-top: -9px;

      button {
        margin: 0;
      }
    }
  }

  &__shipping {
    &_title {
      font-weight: bold;
      font-size: 13px;
      line-height: 15px;

      &--big {
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    &_item {
      display: flex;
      align-items: center;
      width: 50%;

      &_title {
        font-weight: bold;
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 2px;

        span {
          color: $color-main;
        }
      }

      &_descr {
        margin-top: 0;
        margin-bottom: 2px;
        font-size: 11px;
        line-height: 14px;
      }

      &_content {
        margin-left: 10px;
      }

      input {
        display: none;

        &:checked {
          &~label {
            &::before {
              display: block;
            }
          }
        }
      }

      label {
        width: 18px;
        height: 18px;
        position: relative;
        border: 2px solid #9b9b9b;
        border-radius: 50%;
        cursor: pointer;

        &::before {
          content: '';
          width: 8px;
          height: 8px;
          position: absolute;
          top: 3px;
          left: 3px;
          background-color: #f6492d;
          border-radius: 50%;
          display: none;
        }
      }
    }

    &_list {
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #EEEEEE;
      border-bottom: 1px solid #EEEEEE;
      padding-bottom: 10px;
      max-height: 220px;
      overflow: auto;
    }

    &_find {
      display: flex;
      justify-content: space-between;

      &-input {
        border: 1px solid #c8c6c6;
        padding: 15px 15px;
        min-height: 50px;
        width: 90%;

        &::placeholder {
          font-size: 13px;
          line-height: 18px;
          color: #000;
        }
      }

      &-btn {
        width: 50px;
        height: 50px;
        border: 0;
        display: block;
        border: 1px solid #c8c6c6;
        background-color: transparent;
        background-image: url('../img/icon-checkout-2.png');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__notice {
    background-color: #CCF5FF;
    padding: 15px 20px;
    min-height: 60px;

    p {
      font-weight: bold;
      font-size: 11px;
      line-height: 30px;
      color: #858585;
      padding-left: 20px;
      position: relative;
      margin: 0;

      &::before {
        content: '';
        width: 12px;
        height: 12px;
        position: absolute;
        background-image: url('../img/icons/cart-icon-info-red.svg');
        left: 0;
        top: 8px;
      }
    }
  }

  &__sidebar {
    display: none;
  }
}

form.checkout {
  margin-top: 0;
  width: 100%;
  max-width: 725px;
}

#payment .button.alt {
  display: none;
}

@media ($mobile-width) {}

@media ($tablet-width) {}

@media ($desktop-width) {}

@media ($big-desktop-width) {
  .checkout {
    &__wrapper {
      justify-content: center;
    }

    &__info {
      width: 100%;
      max-width: 425px;
      margin-left: 20px;
    }

    &__form {
      &_login {
        &_btn {
          width: 32%;
        }
      }
    }

    &__sidebar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      margin-left: 120px;

      &_item {
        font-size: 15px;
        font-weight: 500;
        color: #858585;
        transition-duration: 0.5s;

        &--active {
          font-size: 20px;
          font-weight: bold;
          color: #858585;
          position: relative;
          padding-left: 30px;

          &::before {
            content: '';
            width: 16px;
            height: 2px;
            position: absolute;
            background-color: $color-main;
            left: 0;
            top: 50%;
            margin-top: -2px;
          }
        }
      }
    }
  }
}
