.composition {
  &__wrapper {
    @include container;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
  }

  &__descr {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 0;
  }

  &__items {
    margin-top: 20px;
  }

  &__item {
    padding-top: 20px;
    padding-bottom: 20px;

    &_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      max-width: 294px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0px 2px 32px #D8D8D8;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 5px;
      min-height: 635px;
    }

    &_title {
      font-weight: bold;
      font-size: 30px;
      line-height: 33px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
      min-height: 66px;
      display: flex;
      align-items: center;
    }

    &_subtitle {
      font-weight: bold;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin: 0;
      color: $color-main;
      padding-left: 20px;
      padding-right: 20px;
    }

    &_img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 196px;

      &-top {
        margin-left: 10px;
        margin-right: 10px;
      }

      &-bottom {

      }
    }

    &_descr {
      &-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
      }

      &-descr {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

@media ($mobile-width) {}

@media ($tablet-width) {
  .composition {
    &__title {
      font-size: 40px;
      line-height: 44px;

      br {
        display: none;
      }
    }

    &__descr {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 40px;
    }

    &__items {
      width: 640px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media ($desktop-width) {
  .composition {
    &__items {
      width: 960px;
    }
  }
}

@media ($m-desktop-width) {
  .composition {

  }
}

@media ($big-desktop-width) {
  .composition {
    &__items {
      width: 1340px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
