.composition {
  &__wrapper {
    @include container;
  }
  &__title {
    color: $color-main;
    font-size: 45px;
    font-weight: 800;
    line-height: 1;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  &__descr {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    margin-top: 15px;
    margin-left: 10px;
  }
  &__items {
    margin-top: 50px;
  }
  &__item {
    display: flex;
    &_img {
      min-width: 153px;
      margin-left: -30px;
      p {
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: #000000;
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 30px;
      }
      img {
        display: block;
        width: 153px;
      }
    }
    &_content {
      margin-left: 25px;
      &_title {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.43;
        margin-top: 0;
        margin-bottom: 0;
      }
      &_subtitle {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.43;
        margin-top: 1px;
        margin-bottom: 0;
      }
      &_descr {
        display: none;
        &_small {
          font-size: 10px;
          line-height: 1.5;
        }
        &_big {
          display: none;
        }
      }
      &_open {
        font-size: 10px;
        font-weight: bold;
        line-height: 1;
        color: #c8c6c6;
        border: 0;
        background-color: transparent;
        position: relative;
        padding-left: 20px;
        outline: none;
        cursor: pointer;
        margin-bottom: 30px;
        margin-top: 15px;
        &::before {
          content: '';
          width: 14px;
          height: 14px;
          position: absolute;
          background-image: url(../img/icons/arr.svg);
          background-size: contain;
          left: 0;
          top: -2px;
          transition-duration: 0.5s;
        }
        &.active {
          &::before {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {

}
@media ($desktop-width) {

}
@media ($big-desktop-width) {
  .composition {
    &__title {
      font-size: 100px;
      font-weight: bold;
      text-align: center;
      color: #000;
      line-height: 0.9;
      margin-top: 50px;
      br {
        display: none;
      }
    }
    &__descr {
      font-size: 25px;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      color: #000000;
      margin-top: 35px;
    }
    &__items {
      display: flex;
      justify-content: space-between;
      padding-left: 50px;
      padding-right: 50px;
    }
    &__item {
      flex-direction: column;
      width: 20%;
      transition-duration: 0.5s;
      padding-left: 40px;
      padding-right: 40px;
      &--active {
        margin-top: 50px;
        transform: scale(1.4);
      }
      &_img {
        margin-left: 0;
        width: 260px;
        height: 158px;
        p {
          display: none;
        }
        img {
          margin-bottom: 20px;
        }
      }
      &_content {
        margin-left: 0;
        &_descr {
          &_big {
            display: block;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: #000000;
            margin-bottom: 0;
          }
          &_small {
            font-size: 12px;
          }
        }
        &_open {
          font-size: 10px;
          font-weight: bold;
          line-height: 1;
          color: #c8c6c6;
          border: 0;
          background-color: transparent;
          position: relative;
          padding-left: 20px;
          outline: none;
          cursor: pointer;
          margin-bottom: 30px;
          margin-top: 15px;
          &::before {
            content: '';
            width: 14px;
            height: 14px;
            position: absolute;
            background-image: url(../img/icons/arr.svg);
            background-size: contain;
            left: 0;
            top: -2px;
            transition-duration: 0.5s;
          }
          &.active {
            &::before {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
