.features {
  margin-bottom: 50px;
  &__wrapper {
    @include container;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    width: 335px;
    margin-left: auto;
    margin-right: auto;

    br {
      display: none;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-top: 50px;

    &_descr {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      width: 280px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    &_img-top {
      display: block;
      width: 27px;
      height: 30px;
      fill: $color-main;
      margin-left: auto;
      margin-right: auto;
    }

    &_img-bottom {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      img {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    &:nth-child(2) {
      .features__item_img-bottom {
        img:first-child {
          margin-left: -25px;
        }
      }
    }

    &:nth-child(3) {
      .features__item_img-bottom {
        img:first-child {
          margin-right: 40px;
        }
      }
    }
  }

  &__howitwork {
    margin-top: 70px;
    margin-bottom: 50px;
    padding-left: 10px;

    &_title {
      font-weight: 800;
      font-size: 34px;
      line-height: 37px;
      text-transform: uppercase;
    }

    &_content {
      display: flex;
    }

    &_img {
      margin-left: -10px;
      margin-right: 20px;

      &_item-1 {
        display: block;
      }

      &_item-2 {
        display: none;
      }
    }

    &_text {
      font-weight: 800;
      font-size: 18px;
      line-height: 20px;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-item {
        margin: 0;
      }
    }
  }
}
@media ($mobile-width) {}

@media ($tablet-width) {}

@media ($desktop-width) {
  .features {
    margin-bottom: 20px;

    &__title {
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.27;
      width: 490px;
      margin-left: 0;
      margin-right: auto;
      margin-top: 45px;
    }

    &__items {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }

    &__item {
      margin-top: 30px;

      &_descr {
        font-size: 16px;
        line-height: 1.5;
        width: 300px;
        min-height: 120px;

        margin-top: 30px;
        margin-bottom: 30px;
      }

      &_img-bottom {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
          display: block;
          margin-left: 15px;
          margin-right: 15px;
        }
      }

      &:nth-child(2) {
        .features__item_img-bottom {
          img:first-child {
            margin-left: 0px;
          }
        }
      }
    }

    &__howitwork {
      margin-top: 110px;
      margin-bottom: 50px;
      padding-left: 0;
      margin-left: -20px;

      &_title {
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 57px;

        br  {
          display: none;
        }
      }

      &_content {
        flex-direction: column;
      }

      &_img {
        margin-left: auto;
        margin-right: auto;

        &_item-1 {
          display: none;
        }

        &_item-2 {
          display: block;
        }
      }

      &_text {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        width: 910px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        margin-top: 15px;

        &-item {
          &:nth-child(2) {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

@media ($m-desktop-width) {
  .features {
    &__title {
      width: 650px;
      font-size: 24px;
      line-height: 1.25;

      br {
        display: block;
      }
    }

    &__item {
      margin-top: 40px;
    }
  }
}

@media ($big-desktop-width) {
  .features {
    &__title {
      width: 780px;
      font-size: 30px;
      line-height: 1.29;
      margin-top: 70px;

      br {
        display: block;
      }
    }

    &__items {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
    }

    &__item {
      margin-top: 80px;
      &_descr {
        font-size: 16px;
        line-height: 1.5;
        width: 380px;
        min-height: 120px;
      }
    }
  }
}
