.header {
  position: absolute;
  top: 0;
  width: 100%;
  &__wrapper {
    @include container;
    display: flex;
    align-items: center;
    padding-top: 28px;
    position: relative;
    padding-top: 28px;
    padding-bottom: 28px;
  }
  &__cart {
    display: block;
    width: 18px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/icons/shopping-bag.svg);
    position: relative;
    top: 275px;
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {
  .header {
    &__cart {
      top: 0;
    }
  }
}
@media ($desktop-width) {

}
@media ($big-desktop-width) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    &--white {
      background-color: #fff;
    }
    &__wrapper {
      width: 100%;
    }
  }
}
