.header {
  position: absolute;
  top: 0;
  width: 100%;

  &__wrapper {
    @include container;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 15px;
    padding-bottom: 25px;
  }

  &__cart {
    display: block;
    width: 38px;
    height: 38px;
  }
  &--white {
    .header {
      &__wrapper {
        padding-top: 25px;
      }
    }
  }
}

@media ($mobile-width) {}

@media ($tablet-width) {
  .header {
    &__cart {
      top: 0;
    }
  }
}

@media ($desktop-width) and (max-width: 1399px) {
  .header {
    padding-top: 30px;
    z-index: 2;
    background-color: transparent;

    &__cart {
      fill: #fff;
    }

    &--white {
      background-color: #fff;
      padding-top: 0;

      .menu {
        a {
          color: #000;
        }
      }

      .header__cart {
        fill: #000;
      }

      .header__wrapper {
        padding-top: 13px;
      }
    }

    &--scroll {
      .menu__item {
        a {
          color: #000;
        }
      }

      .header__cart {
        fill: #000;
      }
    }

    &__wrapper {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
}

@media ($m-desktop-width) and (max-width: 1399px) {}

@media ($big-desktop-width) {
  .header {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 9;

    &__wrapper {
      max-width: 1780px;
      padding-top: 0;
    }

    &__cart {
      fill: #fff;
    }

    &--white {
      background-color: #fff;
      top: 0;

      .menu {
        a {
          color: #000;
        }
      }

      .header__cart {
        fill: #000;
      }

      .header__wrapper {
        padding-top: 13px;
      }
    }

    &--scroll {
      .menu__item {
        a {
          color: #000;
        }
      }

      .header__cart {
        fill: #000;
      }
    }

    &__wrapper {
      width: 100%;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
}
