.header {
  position: absolute;
  top: 0;
  width: 100%;
  &__wrapper {
    @include container;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &__cart {
    display: block;
    width: 18px;
    height: 20px;
    svg {
      max-width: 22px;
      max-height: 18px;
    }
    &:hover {
      svg {
        fill: $color-main;
      }
    }
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {
  .header {
    &__cart {
      top: 0;
    }
  }
}
@media ($desktop-width) {

}
@media ($big-desktop-width) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    &--white {
      background-color: #fff;
      .menu {
        a {
          color: #000;
        }
      }
    }
    &__wrapper {
      width: 100%;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
}
