.howitwork {
  background-color: #000;
  background-image:
    url('../img/howitwork-img-2m.png'),
    url('../img/howitwork-img-1m.png');
  background-repeat: no-repeat;
  background-position: left 250px, right 20px;

  &__wrapper {
    @include container;
    margin-top: -15px;
  }

  &__wrap {
    @include container;
    min-height: 620px;
  }

  &__title-top {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 3.75px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 48px;
  }

  &__title {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
  }

  &__plus {
    font-size: 90px;
    font-weight: 600;
    margin: 0;
    color: #ffffff;
    line-height: 50px;
  }

  &__descr {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #ffffff;
  }

  &__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    margin-top: 45px;
  }

  &__block {
    &--1 {
      .howitwork {
        &__descr {
          padding-left: 55px;
          margin-top: 25px;
          margin-bottom: 10px;
        }
      }
    }

    &--2 {
      .howitwork {
        &__title {
          text-align: right;
        }

        &__descr {
          padding-left: 100px;
          margin-bottom: 0;
          br {
            display: none;
          }
        }
      }
    }
  }

  &__order {
    .btn {
      width: 238px;
      height: 38px;
      background-color: $color-main;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;

      &:hover {
        background-color: #000;
      }
    }

    &_content {
      width: 305px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      padding-left: 70px;

      &::before {
        content: '';
        width: 49px;
        height: 32px;
        position: absolute;
        background-image: url('../img/promo-car.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        left: 0px;
        top: 11px;
      }

      &_title {
        font-size: 14px;
        font-weight: bold;
        color: $color-main;
        margin-top: 15px;
        margin-bottom: 5px;
        line-height: 1.29;
      }

      &_descr {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.29;
        margin-top: 0;
      }
    }

    &_icons {
      display: none;
    }

    &--promo {
      margin-top: -25px;

      .btn {
        width: 305px;
        height: 60px;
        font-size: 20px;
        font-weight: bold;
        line-height: 0.7;
        letter-spacing: 2px;
        color: #ffffff;
        margin-bottom: 18px;
      }
    }
  }
}

@media ($mobile-width) {}

@media ($tablet-width) {}

@media ($desktop-width) {
  .howitwork {
    background-image:
      url('../img/howitwork-img-2d.png'),
      url('../img/howitwork-img-1d.png');
    background-repeat: no-repeat;
    background-position: right center, left center;
    &__order {
      &_content {
        width: auto;

        &::before {
          top: 4px;
        }

        &_title {
          margin-bottom: 0;
          font-size: 16px;
          br {
            display: none;
          }
        }
        &_descr {
          font-size: 14px;
        }
      }
      &--promo {
        margin-top: 50px;
        bottom: 0;
        position: static;
        flex-direction: column;
        align-items: flex-start;

        .btn {
          width: 305px;
          height: 60px;
          font-size: 20px;
          font-weight: bold;
          line-height: 0.7;
          letter-spacing: 2px;
          color: #ffffff;
          margin-bottom: 25px;
          margin-left: 0;
        }

        .howitwork__order_content {
          margin-left: 0;
        }

        .howitwork__order_icons {
          margin-top: 95px;
          margin-bottom: 70px;
          justify-content: flex-start;

          img {
            margin-right: 26px;
            width: auto;
            height: auto;

            &:last-child {
              margin-right: 0;
            }

            &:nth-of-type(3) {
              margin-right: 26px;
            }

            &:nth-of-type(4) {
              display: block;
            }

            &:nth-of-type(5) {
              display: block;
            }

            &:nth-of-type(6) {
              display: block;
            }
          }
        }
      }
    }

    &__wrap {
      position: relative;
      min-height: 560px;

      &::before {
        content: '';
        width: 100%;
        height: 20px;
        background-color: #fff;
        top: -1px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        position: absolute;
        left: 0px;
      }

      &::after {
        content: '';
        width: 100%;
        height: 20px;
        background-color: #fff;
        bottom: -1px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        position: absolute;
        left: 0;
      }
    }

    &__title-top {
      font-size: 18px;
      margin-top: 80px;
      margin-bottom: 60px;
      text-transform: none;
    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    &__plus {
      font-size: 72px;
      font-weight: 600;
      color: $color-main;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 15px;
    }

    &__title {
      font-size: 36px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
    }

    &__descr {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.38;
      width: 270px;
    }

    &__block {
      &--1 {
        .howitwork {
          &__title {
            text-align: right;
          }

          &__descr {
            text-align: right;
            padding-left: 0;
            margin-top: 25px;
            margin-bottom: 10px;
          }
        }
      }

      &--2 {
        .howitwork {
          &__title {
            text-align: left;
          }

          &__descr {
            padding-left: 0;
            br {
              display: block;
            }
          }
        }
      }
    }

    &__logo {
      margin-top: 65px;
      width: 190px;
    }
  }
}

@media ($m-desktop-width) {
  .howitwork {
    background-image:
      url('../img/howitwork-img-2d2.png'),
      url('../img/howitwork-img-1d2.png');
    &__order {
      &_content {
        width: auto;

        &::before {
          top: 4px;
        }

        &_title {
          margin-bottom: 0;
          font-size: 16px;
          br {
            display: none;
          }
        }
        &_descr {
          font-size: 14px;
        }
      }
      &--promo {
        margin-top: 50px;
        bottom: 0;
        position: static;
        flex-direction: column;
        align-items: flex-start;

        .btn {
          width: 305px;
          height: 60px;
          font-size: 20px;
          font-weight: bold;
          line-height: 0.7;
          letter-spacing: 2px;
          color: #ffffff;
          margin-bottom: 25px;
          margin-left: 0;
        }

        .howitwork__order_content {
          margin-left: 0;
        }

        .howitwork__order_icons {
          margin-top: 95px;
          margin-bottom: 70px;
          justify-content: flex-start;

          img {
            margin-right: 26px;
            width: auto;
            height: auto;

            &:last-child {
              margin-right: 0;
            }

            &:nth-of-type(3) {
              margin-right: 26px;
            }

            &:nth-of-type(4) {
              display: block;
            }

            &:nth-of-type(5) {
              display: block;
            }

            &:nth-of-type(6) {
              display: block;
            }
          }
        }
      }
    }

    &__wrap {
      min-height: 650px;
    }

    &__title-top {
      font-size: 24px;
      margin-top: 90px;
      margin-bottom: 80px;
    }

    &__plus {
      font-size: 90px;
      margin-top: 30px;
    }

    &__title {
      font-size: 48px;
      font-weight: 800;
      line-height: 1.13;
    }

    &__descr {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.25;
      width: 345px;
    }

    &__block {
      &--1 {
        .howitwork {
          &__title {
            text-align: right;
          }

          &__descr {
            text-align: right;
            padding-left: 0;
            margin-top: 25px;
            margin-bottom: 10px;
          }
        }
      }

      &--2 {
        .howitwork {
          &__title {
            text-align: left;
          }

          &__descr {
            padding-left: 0;
            br {
              display: block;
            }
          }
        }
      }
    }

    &__logo {
      margin-top: 80px;
      width: 250px;
    }
  }
}

@media ($big-desktop-width) {
  .howitwork {
    background-image:
      url('../img/howitwork-img-2d3.png'),
      url('../img/howitwork-img-1d3.png');
    background-position: 1170px 150px, left center;

    &__title-top {
      font-weight: 800;
      font-size: 40px;
      line-height: 44px;
      margin-top: 130px;
      margin-bottom: 120px;
    }

    &__title {
      font-size: 64px;
      font-weight: 800;
      line-height: 1.09;
    }

    &__descr {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.25;
    }

    &__plus {
      font-size: 120px;
      margin-top: 45px;
    }

    &__wrap {
      min-height: 820px;

      &::before {
        height: 50px;
      }

      &::after {
        height: 50px;
      }
    }

    &__block {
      &--1 {
        .howitwork {
          &__descr {
            margin-left: auto;
          }
        }
      }
    }

    &__logo {
      margin-top: 110px;
    }

    &__order {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: -240px;

      .btn {
        margin-left: 0;
        margin-right: 15px;
        width: 280px;
        height: 66px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 3.33px;
        text-align: center;
        color: #ffffff;
      }

      &_content {
        z-index: 1;
        margin-left: 0;
        width: 100%;

        &::before {
          top: 3px;
        }

        &_title {
          text-align: left;
          margin: 0;
          font-size: 18px;
          font-weight: bold;
          color: $color-main;

          br {
            display: none;
          }
        }

        &_descr {
          margin: 0;
          font-size: 14px;
        }
      }

      &--promo {
        margin-top: 10px;
        position: static;
        flex-direction: column;
        align-items: flex-start;

        .btn {
          width: 305px;
          height: 60px;
          font-size: 20px;
          font-weight: bold;
          line-height: 0.7;
          letter-spacing: 2px;
          color: #ffffff;
          margin-bottom: 25px;
        }
      }
    }
  }
}
