.menu {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 320px;
  background-color: #fff;
  height: 100%;
  min-height: 500px;
  transition-duration: 0.5s;
  transform: translateX(-321px);
  z-index: 6;

  &--open {
    transform: translateX(0px);
  }

  &__list {
    @include reset-ul;
    display: flex;
    flex-direction: column;
  }

  &__item {
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    padding-left: 40px;

    a {
      text-decoration: none;
      color: #000;
    }
  }

  &__btn {
    width: 18px;
    height: 18px;
    display: block;
    background-color: transparent;
    background-image: url('../img/icons/grid.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 7;

    &--open {
      background-image: url('../img/icons/cross-sign-black.svg');
      position: fixed;
    }
  }
}

@media ($mobile-width) {}

@media ($tablet-width) {}

@media ($desktop-width) {}

@media ($big-desktop-width) {
  .menu {
    display: block;
    position: static;
    background-color: transparent;
    width: auto;
    transform: translateX(0px);
    min-height: auto;

    &__btn {
      display: none;
    }

    &__list {
      @include reset-ul;
      display: flex;
      flex-direction: row;
    }

    &__item {
      margin-right: 30px;
      padding-left: 0;
      line-height: 1;

      a {
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        line-height: 1.07;
        color: #fff;
        transition-duration: 0.3s;

        &:hover {
          color: $color-main;
        }
      }

      &--phone {
        a {
          font-size: 20px;
          font-weight: bold;
          line-height: 0.8;
        }
      }
    }
  }
}
