.menu {
  &__btn {
    width: 19px;
    height: 19px;
    display: block;
    background-color: transparent;
    background-image: url('../img/icons/grid.svg');
    background-size: cover;
    border: 0;
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {

}
@media ($desktop-width) {

}
@media ($big-desktop-width) {

}
