.order {
  &__wrapper {
    @include container;
  }

  &__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
  }

  &__descr {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
  }

  &__items {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__item {
    background: #272727;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    &--red {
      background-color: $color-main;
      .order {
        &__item {
          &_price {
            span {
              color: #B22C1B;
            }
          }

          &_delivery {
            span {
              color: #5C5C5C;
            }
          }
        }
      }
    }

    &_img {
      display: flex;
      img {
        width: 41px;
        height: 100px;
      }
    }

    input {
      display: none;

      &:checked {
        & ~ label {
          &::after {
            display: block;
          }
        }
      }
    }

    label {
      font-weight: 800;
      font-size: 20px;
      line-height: 23px;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      padding-left: 30px;
      cursor: pointer;

      span {
        font-size: 36px;
      }

      &::before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        left: 0;
        top: -3px;
      }

      &::after {
        content: '';
        width: 12px;
        height: 12px;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        left: 4px;
        top: 1px;
        display: none;
      }
    }

    &_descr {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      color: #fff;
      margin-top: 0;
    }

    &_price {
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;
      color: #fff;
      display: flex;
      margin: 0;
      margin-top: 17px;

      span {
        margin-left: 10px;
        font-size: 15px;
        line-height: 15px;
        text-decoration-line: line-through;
        color: #5C5C5C;
        margin-top: auto;
      }
    }

    &_delivery {
      font-weight: 500;
      font-size: 11px;
      line-height: 15px;
      color: #fff;
      margin: 0;
      margin-top: 2px;

      span {
        color: $color-main;
        text-decoration: underline;
      }
    }

    &:hover {
      background-color: $color-main;

      .order__item_delivery {
        span {
          color: #5C5C5C;
        }
      }
    }

  }

  &__mobile-sticker {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    width: 69px;
    height: 33px;
    margin: 0;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: $color-main;
    margin-left: auto;
    margin-right: 8px;
    margin-bottom: 5px;
  }

  &__type {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    &_item {
      margin-bottom: 15px;
      padding-left: 10px;

      input {
        display: none;

        &:checked {
          & ~ label {
            &::before {
              border-color: #000;
            }
            &::after {
              display: block;
            }
          }
        }
      }

      label {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        position: relative;
        padding-left: 30px;
        cursor: pointer;

        &::before {
          content: '';
          width: 20px;
          height: 20px;
          position: absolute;
          border: 2px solid #979797;
          border-radius: 50%;
          left: 0;
          top: 0;
        }

        &::after {
          content: '';
          width: 12px;
          height: 12px;
          position: absolute;
          background-color: $color-main;
          border-radius: 50%;
          left: 4px;
          top: 4px;
          display: none;
        }
      }
    }
  }

  &__notice {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #898989;
    margin-bottom: 20px;

    br {
      display: none;
    }
  }

  &__buy {
    button {
      width: 280px;
      height: 55px;
      font-weight: bold;
      font-size: 12.8px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      border: 0;
      background-color: $color-main;
      margin-left: auto;
      margin-right: auto;
      display: block;
      cursor: pointer;
      transition-duration: 0.3s;

      &:hover {
        background-color: #000;
      }
    }

    p {
      font-weight: 600;
      font-size: 9.1px;
      line-height: 11px;
      position: relative;
      padding-left: 110px;
      margin-left: auto;
      margin-right: auto;
      width: 216px;
      margin-top: 30px;
      margin-bottom: 20px;
      &::before {
        content: '';
        width: 103px;
        height: 25px;
        position: absolute;
        background-image: url('../img/order-free.svg');
        background-position: center;
        background-size: contain;
        left: 0;
        top: -1px;
      }
    }
  }

  &__logo {
    display: none;
  }
}

@media ($mobile-width) {}

@media ($tablet-width) and (max-width: 1023px) {
  .order {

    &__items {
      width: 450px;
      margin-left: auto;
      margin-right: auto;
    }

    &__item {
      padding-left: 40px;
      padding-right: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &__type {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 450px;
      min-height: 80px;
      border: 2px solid #E2E2E2;
      border-radius: 8px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px;
      padding-right: 20px;

      &_item {
        margin-bottom: 0;
        padding-left: 10px;
        width: auto;

        &:hover {
          label {
            &::before {
              border-color: $color-main;
            }
          }
        }

        label {
          display: block;
          font-weight: 800;
          font-size: 15px;
          line-height: 18px;

          &::before {
            top: 50%;
            margin-top: -10px;
          }

          &::after {
            top: 50%;
            margin-top: -6px;
          }
        }
      }
    }

    &__notice {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 25px;
      margin-top: 25px;

      br {
        display: block;
      }
    }

    &__buy {
      button {
        width: 355px;
        height: 55px;
        font-weight: bold;
        font-size: 12.8px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        border: 0;
        background-color: $color-main;
        margin-left: auto;
        margin-right: auto;
        display: block;
        cursor: pointer;
        transition-duration: 0.3s;

        &:hover {
          background-color: #000;
        }
      }

      p {
        font-weight: 600;
        font-size: 9.1px;
        line-height: 11px;
        position: relative;
        padding-left: 110px;
        margin-left: auto;
        margin-right: auto;
        width: 216px;
        margin-top: 30px;
        margin-bottom: 20px;
        &::before {
          content: '';
          width: 103px;
          height: 25px;
          position: absolute;
          background-image: url('../img/order-free.svg');
          background-position: center;
          background-size: contain;
          left: 0;
          top: -1px;
        }
      }
    }

    &__logo {
      display: block;
      width: 247px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      margin-top: 60px;
    }
  }
}

@media ($desktop-width) {
  .order {
    position: relative;
    margin-top: 60px;

    &::before {
      content: '';
      width: 100%;
      height: 53px;
      position: absolute;
      background-color: #383838;
      left: 0;
      top: 423px;
      z-index: -1;
    }

    &__title {
      font-size: 40px;
      line-height: 44px;
      width: 620px;
      margin-left: auto;
      margin-right: auto;
    }

    &__descr {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      width: 415px;
      margin-left: auto;
      margin-right: auto;

      br {
        display: none;
      }
    }

    &__items {
      margin-top: 80px;
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
    }

    &__item {
      width: auto;
      background: none;
      border-radius: 0;
      position: relative;
      cursor: pointer;
      flex-grow: 1;

      &::after {
        content: '';
        width: 100%;
        height: 53px;
        position: absolute;
        background-color: #272727;
        z-index: -1;
        left: 0;
        top: 70px;
      }

      &:nth-child(2) {
        .order__item_img {
          position: relative;
          &::before {
            content: 'Хит!';
            width: 69px;
            height: 33px;
            position: absolute;
            background-color: $color-main;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            color: #fff;
            right: -15px;
            top: -15px;
          }
        }
      }

      &:nth-child(3) {
        .order__item_img {
          position: relative;
          &::before {
            content: 'Выгодно';
            width: 102px;
            height: 33px;
            position: absolute;
            background-color: $color-main;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            color: #fff;
            right: -25px;
            top: -15px;
          }
        }
      }

      &--red {
        background-color: transparent;

        &::after {
          background-color: $color-main;
        }
      }

      &:hover {
        background-color: transparent;
        &::after {
          background-color: $color-main;
        }
      }

      &_img {
        margin-left: auto;
        margin-right: auto;
        padding-top: 5px;

        img {
          width: 46px;
          height: 115px;
        }
      }

      label {
        font-size: 25px;
        line-height: 29px;
        color: #323232;
        padding-left: 35px;

        span {
          font-size: 45px;
        }

        &::before {
          content: '';
          width: 23px;
          height: 23px;
          border: 2px solid #323232;
        }

        &::after {
          content: '';
          width: 15px;
          height: 15px;
          position: absolute;
          background-color: $color-main;
          border-radius: 50%;
          left: 4px;
          top: 1px;
          display: none;
        }
      }

      &_descr {
        font-size: 15px;
        color: #323232;
        padding-left: 45px;
        margin-bottom: 12px;
      }

      &_price {
        padding-left: 45px;
        margin-top: 5px;
      }

      &_delivery {
        padding-left: 45px;
      }

    }

    &__mobile-sticker {
      display: none;
    }

    &__type {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 660px;
      min-height: 80px;
      border: 2px solid #E2E2E2;
      border-radius: 8px;
      margin-left: auto;
      margin-right: auto;

      &_item {
        margin-bottom: 0;
        padding-left: 10px;
        width: 25%;

        &:hover {
          label {
            &::before {
              border-color: $color-main;
            }
          }
        }

        label {
          display: block;
          font-weight: 800;
          font-size: 18px;
          line-height: 23px;

          &::before {
            top: 50%;
            margin-top: -10px;
          }

          &::after {
            top: 50%;
            margin-top: -6px;
          }
        }
      }
    }

    &__notice {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 25px;
      margin-top: 25px;

      br {
        display: block;
      }
    }

    &__buy {
      position: relative;

      button {
        width: 540px;
        height: 85px;
        font-size: 20px;
        line-height: 24px;
        border-radius: 3px;
      }

      p {
        font-size: 13px;
        line-height: 16px;
        position: absolute;
        left: 30px;
        top: 0;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 309px;
        margin-top: 47px;
        margin-bottom: 20px;
        &::before {
          content: '';
          width: 147px;
          height: 35px;
          top: -40px;
        }
      }
    }

    &__logo {
      display: block;
      width: 247px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
}

@media ($m-desktop-width) {
  .order {
    &::before {
      top: 425px;
    }

    &__items {
      margin-top: 125px;
      margin-bottom: 0;
    }

    &__title {
      width: auto;
    }

    &__descr {
      width: auto;

      br {
        display: block;
      }
    }

    &__item {
      &_img {
        margin-left: auto;
        margin-right: auto;
        padding: 0;

        img {
          width: auto;
          height: auto;
          margin-top: -15px;
        }
      }

      &:nth-child(2) {
        .order__item_img {
          &::before {
            right: -30px;
            top: -30px;
          }
        }
      }

      &:nth-child(3) {
        .order__item_img {
          &::before {
            right: -35px;
            top: -30px;
          }
        }
      }
    }

    &__type {
      margin-top: 20px;
    }

    &__buy {
      p {
        margin-left: 80px;
      }
    }
  }
}

@media ($big-desktop-width) {
  .order {
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 53px;
      position: absolute;
      background-color: #383838;
      left: 0;
      top: 451px;
      z-index: -1;
    }

    &__title {
      font-size: 40px;
      line-height: 44px;
    }

    &__descr {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
    }

    &__items {
      margin-top: 150px;
      margin-bottom: 40px;
      display: flex;
    }

    &__item {
      background: none;
      border-radius: 0;
      position: relative;
      cursor: pointer;

      &::after {
        content: '';
        width: 100%;
        height: 53px;
        position: absolute;
        background-color: #272727;
        z-index: -1;
        left: 0;
        top: 71px;
      }

      &--red {
        background-color: transparent;

        &::after {
          background-color: $color-main;
        }
      }

      &:hover {
        &::after {
          background-color: $color-main;
        }
      }

      &:active {
        &::after {
          background-color: #c73720;
        }
      }

      &_img {
        margin-left: auto;
        margin-right: auto;

        img {
          width: auto;
          height: auto;
        }
      }

      label {
        font-size: 25px;
        line-height: 29px;
        color: #323232;
        padding-left: 45px;

        span {
          font-size: 45px;
        }

        &::before {
          content: '';
          width: 23px;
          height: 23px;
          border: 2px solid #323232;
        }

        &::after {
          content: '';
          width: 15px;
          height: 15px;
          position: absolute;
          background-color: $color-main;
          border-radius: 50%;
          left: 4px;
          top: 1px;
          display: none;
        }
      }

      &_descr {
        font-size: 15px;
        color: #323232;
        padding-left: 45px;
      }

      &_price {
        padding-left: 45px;
      }

      &_delivery {
        padding-left: 45px;
      }

    }

    &__mobile-sticker {
      display: none;
    }

    &__type {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 660px;
      min-height: 80px;
      border: 2px solid #E2E2E2;
      border-radius: 8px;
      margin-left: auto;
      margin-right: auto;

      &_item {
        margin-bottom: 0;
        padding-left: 10px;
        width: 25%;

        &:hover {
          label {
            &::before {
              border-color: $color-main;
            }
          }
        }

        label {
          display: block;
          font-weight: 800;
          font-size: 18px;
          line-height: 23px;

          &::before {
            top: 50%;
            margin-top: -10px;
          }

          &::after {
            top: 50%;
            margin-top: -6px;
          }
        }
      }
    }

    &__notice {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 25px;
      margin-top: 25px;

      br {
        display: block;
      }
    }

    &__buy {
      position: relative;

      button {
        width: 540px;
        height: 85px;
        font-size: 20px;
        line-height: 24px;
        border-radius: 3px;
      }

      p {
        font-size: 13px;
        line-height: 16px;
        position: absolute;
        left: 30px;
        top: 0;
        padding-left: 155px;
        margin-left: 20px;
        margin-right: auto;
        width: 309px;
        margin-top: 30px;
        margin-bottom: 20px;
        &::before {
          content: '';
          width: 147px;
          height: 35px;
          top: -1px;
        }
      }
    }

    &__logo {
      display: block;
      width: 247px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 70px;
      margin-top: 35px;
    }
  }
}
