.page-sertificate {
  &__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.04;
    margin-top: 70px;
    margin-bottom: 40px;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    padding-right: 30px;

    span {
      color: $color-main;
    }
  }

  &__img {
    margin-top: 80px;
    margin-bottom: 80px;

    &_certificate {
      display: block;
      margin-left: auto;
      margin-right: auto;

      &_tubes {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -140px;
      }
    }

    a {
      display: block;
      width: 180px;
      font-size: 14px;
      color: #000;
      text-decoration: none;
      position: relative;
      padding-left: 45px;
      margin-left: auto;
      margin-right: auto;

      &::before {
        content: '';
        width: 38px;
        height: 38px;
        position: absolute;
        background-image: url('../img/icon-download.png');
        left: 0;
        top: -3px;
      }

    }
  }

  &__slider {
    margin-bottom: 150px;

    &_title {
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.06;
      margin-top: 90px;
    }

    &_descr {
      font-size: 24px;
      padding-right: 60px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      margin-bottom: 80px;

      span {
        color: $color-main;
      }
    }

    &_item {
      padding-left: 20px;
      padding-right: 20px;
      overflow: hidden;

      &_img {
        height: 242px;
        background-color: #e9ebee;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
        right: -85px;

        p {
          font-size: 24px;
          font-weight: bold;
          line-height: 1.17;
          text-transform: uppercase;
          margin-left: -40px;
        }
      }

      &_row {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }

      &_descr {
        font-size: 17px;
        font-weight: bold;
        line-height: 1.22;
      }

      &_number {
        font-size: 72px;
        font-weight: bold;
        line-height: 0.94;
        margin-left: 50px;
      }
    }
  }
}

@media ($mobile-width) {}

@media ($tablet-width) {}

@media ($desktop-width) {
  .page-sertificate {
    &__title {
      font-size: 72px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.86;
      margin-top: 70px;
    }

    &__subtitle {
      width: 560px;
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45;
    }

    &__row {
      display: flex;
    }

    &__img {
      margin-top: 80px;

      img {
        display: block;
        margin-right: 0;
      }

      &_certificate {
        &_tubes {
          margin-top: -190px;
          position: relative;
          left: -190px;
        }
      }

      a {
        padding-left: 45px;
        margin-left: 60px;
        margin-top: -15px;
      }
    }

    &__slider {
      margin-bottom: 30px;
      margin-right: 30px;
      margin-left: 30px;

      &_item {
        &_img {
          justify-content: center;
          right: 0;

          p {
            margin: 0;
          }
        }
      }

      &_title {
        font-size: 52px;
        line-height: 0.94;
        margin-left: 15px;
        margin-top: 0;
      }

      &_descr {
        display: none;
      }

      .slick-prev {
        left: -35px;
        top: 120px;
        height: 40px;
        width: 30px;
      }

      .slick-next {
        right: -35px;
        top: 120px;
        height: 40px;
        width: 30px;
      }
    }
  }
}

@media ($m-desktop-width) {
  .page-sertificate {

    &__subtitle {
      width: 700px;
      font-size: 24px;
    }

    &__slider {
      margin-bottom: 30px;
      margin-right: 30px;
      margin-left: 30px;

      &_item {
        &_img {
          justify-content: center;
          right: 0;

          p {
            margin: 0;
          }
        }
      }
    }

    &__img {
      &_certificate {
        &_tubes {
          margin-top: -190px;
          position: relative;
          left: -180px;
        }
      }

      a {
        padding-left: 45px;
        margin-left: 130px;
        margin-top: -15px;
      }
    }
  }
}

@media ($big-desktop-width) {
  .page-sertificate {
    &__title {
      font-size: 110px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.86;
      margin-top: 120px;
    }

    &__content {
      margin-right: 130px;
    }

    &__subtitle {
      width: 700px;
      font-size: 28px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
    }

    &__row {
      display: flex;
    }

    &__img {
      margin-top: 130px;

      img {
        display: block;
        margin-right: 25px;
      }

      &_certificate {
        &_tubes {
          margin-top: -190px;
          position: relative;
          left: -190px;
        }
      }

      a {
        padding-left: 45px;
        margin-left: 105px;
        margin-top: -5px;
      }
    }

    &__slider {
      margin-bottom: 30px;
      margin-right: 80px;
      margin-left: 80px;

      &_item {
        &_img {
          justify-content: center;
          right: 0;

          p {
            margin: 0;
          }
        }
      }

      &_title {
        font-size: 72px;
        line-height: 0.94;
        margin-left: 80px;
      }

      &_descr {
        display: none;
      }

      .slick-prev {
        left: -75px;
        top: 120px;
        height: 40px;
        width: 30px;
      }

      .slick-next {
        right: -75px;
        top: 120px;
        height: 40px;
        width: 30px;
      }
    }
  }
}
