.promo {
  background-image: url('../img/promo_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__wrapper {
    @include container;
    padding-top: 258px;
    padding-bottom: 0;
  }
  &__title {
    font-size: 35px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
  }
  &__descr {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.13;
    margin-top: 20px;
    margin-bottom: 30px;
    br {
      display: none;
    }
  }
}
@media ($mobile-width) {

}
@media ($tablet-width) {

}
@media ($desktop-width) {

}
@media ($big-desktop-width) {
  .promo {
    background-image: url('../img/promo_bg.jpg');
    height: 800px;
    margin-bottom: 150px;
    &__wrapper {
      padding-top: 248px;
      position: relative;
      &::before {
        content: '';
        width: 411px;
        height: 274px;
        position: absolute;
        background-image: url('../img/promo-2.png');
        right: 10px;
        bottom: -230px;
      }

    }
    &__title {
      width: 709px;
      font-size: 80px;
      line-height: 0.88;
      font-weight: bold;
    }
    &__descr {
      width: 524px;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.35;
      margin-top: 50px;
      br {
        display: block;
      }
    }
  }
}
