.promo {
  background-image: url('../img/promo_bg.jpg');
  background-repeat: no-repeat;
  background-position: center -60px;
  background-size: cover;

  &__wrapper {
    @include container;
    padding-top: 110px;
    padding-bottom: 0;
    min-height: 650px;
  }

  &__title {
    font-size: 30px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    margin-bottom: 240px;
  }

  &__descr {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 0px;

    br {
      display: block;
    }

    span {
      color: $color-main;
    }
  }
}

@media ($mobile-width) {}

@media ($tablet-width) {}

@media ($desktop-width) and (max-width: 1399px) {
  .promo {
    min-height: 650px;
    background-position: center top;

    &__wrapper {
      position: relative;

      &::before {
        content: '';
        width: 448px;
        height: 336px;
        position: absolute;
        background-image: url('../img/promo-2.png');
        background-size: contain;
        right: -10px;
        bottom: -140px;
      }
    }

    &__title {
      font-size: 56px;
      font-weight: bold;
      line-height: 0.89;
      color: #040404;
      margin-bottom: 0;
      margin-top: 35px;
    }

    &__descr {
      font-size: 24px;
      font-weight: bold;
      margin-top: 25px;
      line-height: 1.17;
    }
  }
}

@media ($big-desktop-width) {
  .promo {
    background-image: url('../img/promo_bg.jpg');
    height: 750px;
    margin-bottom: 150px;
    background-position: center top;
    background-size: auto;

    &__wrapper {
      padding-top: 165px;
      position: relative;

      &::before {
        content: '';
        width: 565px;
        height: 425px;
        position: absolute;
        background-image: url('../img/promo-2.png');
        right: -75px;
        bottom: -230px;
      }
    }

    &__title {
      width: 709px;
      font-size: 72px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.89;
      letter-spacing: normal;
      color: #040404;
      margin-bottom: 30px;
    }

    &__descr {
      width: 591px;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.20;

      br {
        display: none;

        &.topdesigner {
          display: block;
        }
      }
    }
  }
}
