.promo {
  &__inner {
    background-image: url('../img/promo_bg.png');
    background-repeat: no-repeat;
    background-position: -630px center;
    background-size: cover;
  }

  &__wrapper {
    @include container;
    padding-top: 80px;
    padding-bottom: 0;
    min-height: 506px;
  }

  &__title {
    font-size: 24px;
    font-weight: 800;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 205px;
  }

  &__descr {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 300px;

    br {
      display: none;
    }

    span {
      color: $color-main;
    }
  }
}

@media ($mobile-width) {}

@media ($tablet-width) {}

@media ($desktop-width) and (max-width: 1399px) {
  .promo {
    min-height: 650px;
    background-image: url('../img/promo_bg.png');
    background-repeat: no-repeat;
    background-position: -370px top;
    background-size: cover;

    &__inner {
      background: none;
    }

    &__wrapper {
      min-height: auto;
      padding-top: 110px;
      position: relative;

      &::before {
        content: '';
        width: 448px;
        height: 336px;
        position: absolute;
        background-image: url('../img/promo-2.png');
        background-size: contain;
        right: -25px;
        bottom: -385px;
      }
    }

    &__title {
      font-size: 56px;
      font-weight: bold;
      line-height: 0.89;
      color: #040404;
      margin-bottom: 30px;
      margin-top: 35px;
    }

    &__descr {
      font-size: 24px;
      font-weight: bold;
      margin-top: 25px;
      line-height: 1.17;
      width: auto;

      br {
        display: block;
      }
    }
  }
}

@media ($m-desktop-width) and (max-width: 1399px) {
  .promo {
    background-position: center top;
    &__wrapper {
      &::before {
        right: 30px;
        bottom: -385px;
      }
    }

    &__title {
      margin-top: 70px;

      br:nth-of-type(2) {
        display: none;
      }
    }
  }
}

@media ($big-desktop-width) {
  .promo {
    height: 710px;
    background-image: url('../img/promo_bg.png');
    background-position: center top;
    background-size: cover;

    &__inner {
      background: none;
    }

    &__wrapper {
      padding-top: 165px;
      position: relative;

      &::before {
        content: '';
        width: 565px;
        height: 425px;
        position: absolute;
        background-image: url('../img/promo-2.png');
        right: -30px;
        bottom: -380px;
      }
    }

    &__title {
      width: 709px;
      font-size: 72px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.89;
      letter-spacing: normal;
      color: #040404;
      margin-bottom: 30px;

      br:nth-of-type(2) {
        display: block;
      }
    }

    &__descr {
      width: 591px;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.06;

      br {
        display: none;

        &.topdesigner {
          display: block;
        }
      }
    }
  }
}
