.question {
  overflow: hidden;

  &__wrapper {
    @include container;
  }

  &__title {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.17;
    margin-left: 10px;

    span {
      color: $color-main;
    }
  }

  &__descr {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.13;
    margin-left: 10px;
  }

  &__content {
    position: relative;
    margin-bottom: 30px;
    margin-top: -20px;
    z-index: -1;

    img {
      display: block;
      width: 268px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__question {
    &_title {
      font-size: 14px;
      font-weight: bold;
      color: $color-main;
      position: relative;
      padding-left: 35px;
      margin-bottom: 20px;
      cursor: pointer;

      &::before {
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        background-color: $color-main;
        border-radius: 50%;
        position: absolute;
        background-image: url('../img/icons/cross-sign.svg');
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        margin-top: -12px;
        top: 50%;
        transition-duration: 0.5s;
        cursor: pointer;
        transform: rotate(45deg);
      }

      &.active {
        &::before {
          background-color: #000;
          transform: rotate(0);
        }
      }
    }

    &_descr {
      font-size: 10px;
      padding-left: 35px;
      line-height: 1.5;
      display: none;
      margin-bottom: 30px;
      margin-top: 0;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
  }

  &__item {
    width: 33%;
    margin-bottom: 20px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin-top: 10px;
    }
  }
}

@media ($mobile-width) {}

@media ($tablet-width) {}

@media ($desktop-width) and (max-width: 1399px) {
  .question {
    padding-top: 20px;

    &__wrapper {
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }

    &__title {
      font-size: 60px;
      font-weight: bold;
      line-height: 1.17;
      margin-bottom: 0;
      width: 432px;
      margin-top: 0;

      span {
        color: #000;
      }

      br {
        display: none;
      }
    }

    &__descr {
      font-size: 22px;
      font-weight: bold;
      line-height: 1.2;
      width: 360px;
      margin-bottom: 10px;

      br {
        display: none;
      }
    }

    &__content {
      position: relative;
      margin-bottom: 80px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -150px;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        margin-bottom: 100px;
      }
    }

    &__question {
      &_title {
        margin-bottom: 15px;
      }

      &_descr {
        font-size: 12px;
        padding-left: 35px;
        line-height: 1.5;
        display: none;
        margin-bottom: 30px;
      }

      &:nth-of-type(1) {
        position: absolute;
        width: 250px;
        top: 380px;
        right: 130px;
      }

      &:nth-of-type(2) {
        position: absolute;
        top: 595px;
        left: 125px;
        width: 250px;

        .question__question_title {
          &::before {
            left: 235px;
            margin-top: -12px;
            top: 50%;
          }
        }
      }

      &:nth-of-type(3) {
        position: absolute;
        top: 615px;
        left: 620px;
        width: 250px;
      }
    }

    &__block {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
    }

    &__items {
      width: 600px;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      bottom: -620px;

      p {
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        margin-top: 10px;
      }
    }

    &__item {
      width: auto;
    }
  }
}

@media ($m-desktop-width) and (max-width: 1399px) {
  .question {
    padding-top: 50px;

    &__wrapper {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      width: 1020px;
    }

    &__title {
      font-size: 60px;
      font-weight: bold;
      line-height: 1.17;
      margin-bottom: 0;

      span {
        color: #000;
      }

      br {
        display: none;
      }
    }

    &__descr {
      font-size: 22px;
      font-weight: bold;
      line-height: 1.2;
      width: 285px;

      br {
        display: none;
      }
    }

    &__content {
      position: relative;
      margin-bottom: 120px;
      padding-top: 70px;
      margin-left: 15px;

      img {
        width: 516px;
        margin-top: 70px;
        z-index: -1;
        position: relative;
      }
    }

    &__question {
      &_title {
        margin-bottom: 15px;
      }

      &_descr {
        font-size: 12px;
        padding-left: 35px;
        line-height: 1.5;
        display: none;
        margin-bottom: 30px;
      }

      &:nth-of-type(1) {
        position: absolute;
        width: 250px;
        top: 50px;
        right: 0px;
      }

      &:nth-of-type(2) {
        position: absolute;
        top: 260px;
        left: 355px;
        width: 250px;

        .question__question_title {
          &::before {
            left: 235px;
            margin-top: -12px;
            top: 50%;
          }
        }
      }

      &:nth-of-type(3) {
        position: absolute;
        top: 275px;
        left: 830px;
        width: 250px;
      }
    }

    &__block {
      max-width: 420px;
    }

    &__items {
      width: 600px;
      display: flex;
      justify-content: space-between;
      margin-top: 0px;
      position: absolute;
      left: 50%;
      margin-left: -300px;
      bottom: 30px;

      p {
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        margin-top: 10px;
      }
    }

    &__item {
      width: auto;
    }
  }
}

@media ($big-desktop-width) {
  .question {
    padding-top: 50px;

    &__wrapper {
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }

    &__title {
      font-size: 60px;
      font-weight: bold;
      line-height: 1.17;
      margin-bottom: 0;

      span {
        color: #000;
      }

      br {
        display: none;
      }
    }

    &__descr {
      font-size: 25px;
      font-weight: bold;
      line-height: 1.2;

      br {
        display: none;
      }
    }

    &__content {
      position: relative;
      margin-bottom: 80px;
      padding-top: 170px;
      margin-left: 15px;

      img {
        width: 516px;
        margin-top: -130px;
        z-index: -1;
        position: relative;
      }
    }

    &__question {
      &_title {
        margin-bottom: 15px;
      }

      &_descr {
        font-size: 12px;
        padding-left: 35px;
        line-height: 1.5;
        display: none;
        margin-bottom: 30px;
      }

      &:nth-of-type(1) {
        position: absolute;
        width: 250px;
        top: 110px;
        right: 50px;
      }

      &:nth-of-type(2) {
        position: absolute;
        top: 350px;
        left: 680px;
        width: 250px;

        .question__question_title {
          &::before {
            left: 235px;
            margin-top: -12px;
            top: 50%;
          }
        }
      }

      &:nth-of-type(3) {
        position: absolute;
        top: 325px;
        left: 1155px;
        width: 250px;
      }
    }

    &__block {
      max-width: 695px;
    }

    &__items {
      width: 600px;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      p {
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        margin-top: 10px;
      }
    }

    &__item {
      width: auto;
    }
  }
}
