.sidebar {
  display: none;
}
@media ($mobile-width) {

}
@media ($tablet-width) {

}
@media ($desktop-width) {

}
@media ($big-desktop-width) {
  .sidebar {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: auto;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        transform: rotate(-90deg);
      }
    }
    &__current {
      font-size: 70px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      display: block;
    }
    &__all {
      font-size: 35px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #a0a0a0;
      margin-bottom: 170px;
      position: relative;
      &::before {
        content: '';
        width: 120px;
        height: 2px;
        position: absolute;
        background-color: #979797;
        right: 60px;
        top: 20px;
      }
    }
    &__arr {
      width: 23px;
      height: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      background-color: transparent;
      background-image: url('../img/icons/sidebar.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      cursor: pointer;
      transition-duration: 0.5s;
      &:hover {
        transform: translateX(10px);
      }
    }
    &__prev {
      transform: rotate(180deg);
      &:hover {
        transform: translateX(-10px) rotate(180deg);
      }
    }
  }
}
