.slick-arrow {
  font-size: 0;
  width: 10px;
  height: 15px;
  border: 0;
  background-image: url('../img/icons/arrow-slider.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: -3px;
  z-index: 2;
  position: absolute;
  background-color: transparent;
  opacity: 0.2;
  cursor: pointer;
}

.slick-prev {
  transform: rotate(180deg);
  left: 115px;
}

.slick-next {
  right: 115px;
}

.slick-disabled {
  opacity: 0.1;
}

.slick-dots {
  @include reset-ul;
  display: flex;
  justify-content: center;

  li {
    position: relative;
    width: 10px;
    height: 10px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      background-color: #c4c4c4;
      border-radius: 50%;
    }

    button {
      display: none;
    }

    &.slick-active {
      &::before {
        background-color: #000;
      }
    }
  }
}

.slider {
  &__slide {
    padding-left: 20px;
    padding-right: 20px;
    height: 345px;

    picture {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-height: 100%;
    }
  }

  &__nav {
    display: none;
  }
}

@media ($mobile-width) {}

@media ($tablet-width) {
  .slick-prev {
    transform: rotate(180deg);
    left: 245px;
  }

  .slick-next {
    right: 245px;
  }
}

@media ($desktop-width) {

  .slick-prev {
    transform: rotate(180deg);
    left: 425px;
  }

  .slick-next {
    right: 425px;
  }

  .slider {
    margin-top: 200px;
    margin-bottom: 50px;

    &__slide {
      height: 300px;
      display: flex !important;
      align-items: center;
      justify-content: center;

      picture {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__nav {
      display: block;
      width: 300px;
      margin-top: 80px;
      margin-left: auto;
      margin-right: auto;
      z-index: 2;
      margin-bottom: 30px;

      .slick-slide {
        max-height: 63px;
      }

      .slick-active {
        opacity: 0.2;
      }

      .slick-active.slick-current {
        opacity: 1;
        ;
      }
    }

    .slick-arrow {
      width: 97px;
      height: 100%;
      top: 0;
      margin-top: 0;
      background-size: 25%;
    }
  }
}

@media ($big-desktop-width) {

  .slick-prev {
    transform: rotate(180deg);
    left: 605px;
  }

  .slick-next {
    right: 605px;
  }

  .slider {
    margin-top: 230px;
    margin-bottom: 100px;

    &__slide {
      height: 600px;
      display: flex !important;
      align-items: center;
      justify-content: center;

      picture {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__nav {
      display: block;
      width: 500px;
      margin-top: 80px;
      margin-left: auto;
      margin-right: auto;
      z-index: 2;
      margin-bottom: 30px;

      .slick-slide {
        max-height: 127px;
        opacity: 0.2;
      }

      .slick-prev {
        left: -40px;
      }

      .slick-next {
        right: -40px;
      }

      .slick-active.slick-current {
        opacity: 1;
        ;
      }
    }

    .slick-arrow {
      width: 97px;
      height: 100%;
      top: 0;
      margin-top: 0;
      background-size: 25%;
    }
  }

  .slick-slide {
    outline: none;
  }
}
